html{
  background-color: lightCyan;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

header{
  text-align: center;
}

.scoreR{
  width: 100px;
  height: 20px;
  display: inline;
}

.wrapper {
  position: relative;
  display: block;
  text-align: center;
}

.p1Cont{

}

p2Cont{

}

footer{
  padding-top: 50px;
  text-align: center;
}












